[workspace]
resolver = "2"
members = ["server"]

[package]
name = "dxp-todo-frontend"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hot-lib-reloader = { version = "^0.7.0", optional = true }
server = { path = "server", default-features = false }
dotenvy = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread", "signal"] }
tracing = { workspace = true }
dxp-logging = { workspace = true, optional = true, default-features = false }

[workspace.dependencies]
poem = { version = "^3.0.1" }
dotenvy = { version = "^0.15.7" }
tokio = { version = "^1.37.0", default-features = false }
anyhow = { version = "^1.0.86", features = ["backtrace"] }
sea-orm = { version = "^0.12.15", default-features = false }
tracing = "^0.1.40"
serde = { version = "^1.0.203", features = ["derive"] }
base64 = "^0.22.1"
chrono = {version = "^0.4.38", default-features = false, features = ["clock"]}
serde_json = { version = "^1.0.68" }
minijinja = { version = "2.0.1", features = ["loader"]}
arc-swap = "1.7.1"
notify = { version ="6.1.1", default-features = false }
include_dir = { version = "0.7.3" }
derivative = "2.2.0"
thiserror = "1.0.61"
backend = { path = "backend"}
dxp-logging = { git = "https://github.com/887/dxp-logging.git", default-features = false }
dxp-code-loc = { git = "https://github.com/887/dxp-code-loc.git" }
is_executable = { version ="1.0.1" }

[features]
default = ["log", "hot-reload"]
github = ["server/github"]
path-info = []
hot-reload = ["dep:hot-lib-reloader", "server/hot-reload"]
log=["dep:dxp-logging", "dxp-logging/log", "server/log"]
log-file=["log", "dxp-logging/log-file", "server/log-file"]

