<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style></style>
    <link rel="stylesheet" href="/static/style.css" type="text/css"/>
</head>
    <p>{{ hello_world }}</p>
    <p>{{ welcome }}</p>
    <p>{{ name_missing }}</p>
<body>
</body>
</html>