[package]
name = "server"
version = "0.1.0"
edition = "2021"

[lib]
name = "server"
crate-type = ["rlib", "dylib"]

[dependencies]
dxp-logging = { workspace = true, optional = true, default-features = false }
poem = { workspace = true, features = ["compression", "session", "i18n"]}
dotenvy = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread", "signal", "net", "sync"] }
tracing = { workspace = true }
anyhow = { workspace = true }
base64 = { workspace = true }
# serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
chrono = { workspace = true }
minijinja = { workspace = true }
arc-swap = { workspace = true , optional = true }
notify = {workspace = true, optional = true, default-features = false, features = ["macos_kqueue"]}
include_dir = { workspace = true }
derivative = { workspace = true }
backend = { workspace = true }
dxp-code-loc = { workspace = true }
thiserror = { workspace = true }

[features]
#default features are what hot reload uses
default = ["log", "hot-reload"]
hot-reload = ["dep:arc-swap", "dep:notify"]
redis = []
log=["dep:dxp-logging", "dxp-logging/log"]
log-file=["log", "dxp-logging/log-file"]

